.main-page{
    margin-top: 80px;
}

.profile-image{
    width:20px;
    height: 20px;

}
.email-col p{
    width:50px;
}
.email-col input{
    border: none;
    margin-left: 20px;
    
}
.email-col input:focus{
    outline: none;
}

.subject-input input{
    border: none;
    
}
.subject-input input:focus{
    outline: none;
    
}
.description-area{
    height: 18rem;
    overflow: hidden;
}
.side-panel img{
    width:50px;
    margin-top: 20px;
}
.side-panel{
   
    border-right: 1px ridge black;
   position: fixed;
    height: 35rem;
}
.side-panel button {
    margin-top: 20px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
  .compose-form{
    margin-top: 20px;
    
    margin-left: 20px;
  }
.compose-form-col{
    margin-left: 6rem;
    margin-top: 200px;
    height: 100%;
    border-right: 2px ridge black;
    overflow-y: scroll;
}
.unread-count{
    position:absolute;
    left:3%;
    font-weight: bolder;
    border: 2px ridge rgb(124, 119, 117);
 border-radius: 10px;
  
   
}


