.sentbox{
    height: 100vh;
}
.sentbox-card .delete-col{
  display: none;
}

.sentbox-card:hover .delete-col{
    display: block;
    
}
.sentbox-card:hover .date-time{
    display: none;
}
.sentbox-card button{
    background: none;
    border: none;
}
.date-time{
    font-size: smaller;
    margin-top: 5px;
}
.sentbox-card{
    cursor: pointer;
   }
   .sentbox-card:hover{
    background-color: rgb(247, 241, 241);
   }